.customBanner{
    position:relative;
    max-width: 100%;
    margin-bottom:40px;
}

// .customBanner .customButton{
//     position: absolute;
//     top:515px;
//     left: 1070px;
// }

.customButton{
 
    width: 350px;
    height: 60px;
    border-radius: 30px;
    color: white;
    background-color: transparent;


    
}

.customBanner-content{
    position: absolute;
    top:515px;
    left: 1070px;
    color:white;
}

.col_content{

    height:555px;
}
